/* SignUp */

#app > main > section > div > div > div > div > div {
      
  box-shadow: 20px 20px 50px 10px rgba(83, 83, 83, 0.668) ;

}
    .gradient-form {

        height: 100px;
    }

    .gradient-custom-2 {

        background: url('../public/img/loginside.jpg');
        object-fit: cover;
    }

    @media (min-width: 768px) {
        .gradient-form {
            height: 100vh !important;
        }
    }

    @media (min-width: 769px) {
        .gradient-custom-2 {
            border-top-right-radius: .3rem;
            border-bottom-right-radius: .3rem;
        }
    }
    
    .errors{
        color: red;
    }

    .errorMassage{
      justify-content: center;
    }
    /* ************************************************************************************************** */

.logout{
    background-color:red;
    border-radius: 20px;
    color: white;
    font-size: small;
    padding: 5px;
}